.page-header {
    height:100vh
}
.page-header-image {
    height:100%;
}
.page-header{
    position:relative;
}

.page-header-title{
    position:absolute;
    top:300px;
    width:100%;
    background-color: rgba(0,0,0,0.3);
    gap: 0 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
.page-header-text {
    color:white;
    font-size: 3rem;
    font-weight: bold;
}

.page-header-logo {
    padding:1rem;

}

main {
    display:flex;
    
}


.page-content {
    display:flex;
    flex-direction: column;
}

.page-content {
    background-color: #f1f0f0;
}