
.page-header-image {
    height:100vh;
}
.page-header{
    position:relative;
}

.page-header-title{
    position:absolute;
    top:50px;
}

.page-header-logo {
    border:1px solid black;
}

main {
    display:flex;
}