
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Quicksand:wght@300&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.page-header-image {
    height:100%;
    width:100%;
}

.page-header{
    height:100vh;
    position:relative;
    overflow:hidden;
}

.page-header-title{
    position:absolute;
    top:300px;
    width:100%;
    background-color: rgba(0,0,0,0.3);
    gap: 0 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
.page-header-text {
    color:white;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
    font-family:"Norse Bold", sans-serif;
    height:100%;
}

.page-header-logo {
    padding:1rem;

}

main {
    display:flex;
    
}


.page-content {
    display:flex;
    flex-direction: column;
    flex:1;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.page-content {
    background-color: #f1f0f0;
}


#form-card {
    background-color: white;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 60px 60px;
    padding:4rem;
    gap:20px;
    box-shadow: 0px 5px 0px #D3D3D3;
    width: 60%;
    

}

.input {
    display:flex;
    flex-direction: column;
    width: 70%;
}

.input > input {
    padding:6px 10px;
    margin-top: 5px;
    border-radius: 3px;
}


.page-text {
    font-size: 36px;
    font-weight: bold;
    margin:12rem 16rem 5rem 6rem;
}

.third-text {
    margin-top: 2rem;
}

@media only screen and (max-width: 800px) {
    .page-text {
      font-size: 1rem;
      width:fit-content;
    }

    .page-header {
        height:auto;
        display:none;
    }
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border:1px solid green;
}



.submit-button {
    padding:1rem 5rem;
    margin:2rem;
    color:white;
    background-color: #596D48;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 3px #D3D3D3;
}

.submit-button:hover{
    cursor:pointer;
    background-color: #748d5e;

}

.page-submit > p {
    margin:2rem;
    font-weight: bold;
}


p > a:last-child {
    color:#596D48;
    text-decoration: none;
}

input {
    border: 1px solid #E5E7EB;
    appearance:none;
}



.form-container {
    width:100%;
    background-color: white;
    box-shadow: 0px 5px 0px #D3D3D3;
}

input:focus {
    outline:none;
    border: 2px solid rgb(86, 86, 218);
    box-shadow: 3px 5px 5px #D3D3D3;
    transition:.4s;
}

.hidden {
    visibility: hidden;
    color:red;
}

.show{
    visibility: visible;
}
